h1{
	color: Blue;
	font-family: comic sans-serif;
	text-align: left;
}

h2{
	color: greenyellow;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
}

.square{
	padding: 36px;
	width: 100px;
	color: #fff;
	margin: 10px;
	background: turquoise;	
}
 
#square{
	width: 1080px;
	color: #fff;
	background: blanchedalmond;
	padding: 720px;
}
